@charset "utf-8";

.social {
    text-align: right;
}

.img-portfolio {
	border-bottom: 1px solid #ccc;
}
.img-portfolio .btn-theme {
	/*position:absolute;
	bottom: 5px;*/
	float:left;
}

.img-portfolio a {
	text-align:center;
}

.img-portfolio .img-responsive {
	max-height:250px;
}
